/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-top: 1rem;
}
